<div class="form">
<%= form_for(@contact) do |f| %>

    <%= f.label :first_name %>:
    <%= f.text_field :first_name %><br />

    <%= f.label :last_name %>:
    <%= f.text_field :last_name %><br />

    <%= f.label :email %>:
    <%= f.email_field :email%><br />

    <%= f.label :message %>:<br />
    <%= f.text_area :message%><br />

    <%= f.label :phone_number %>:
    <%= f.telephone_field :phone_number %><br />

    <%= f.label :subject %>:
    <%= f.text_field :subject %><br />

    <%= f.submit  "Let's connect" %>
<% end %>
</div>
<br />
<button><%= link_to "Back", :back %></button>